.idea
data
*.iml
atlassian-ide-plugin.xml
target
*.versionsBackup
*.swp
server/network/project
server/network/build.sbt
server/network/data
data-*
*ensime*
**/dependency-reduced-pom.xml
.DS_Store
tags
*.rej
coverageReports
**/logs
*.so
*.dylib
